/* spell-checker: disable */

/*===================================================================*
 * LAYOUT
 *===================================================================*/

* {
	padding: 0;
	margin: 0;
	cursor: default;
	box-sizing: border-box;
	font-family:
		"Segoe UI", "Frutiger", "Frutiger Linotype", "Dejavu Sans",
		"Helvetica Neue", "Arial", "sans-serif";
}

input[type="radio"], label, a, button {
	cursor: pointer;
}

body {
	background: #303030;
	color: #C0C0C0;
	font-size: 3.5vmin;
	overflow: hidden;
}

.main {
	box-sizing: border-box;
	position: absolute;
	width: 100%;
	max-height: 100%;
	padding: 5vh 5vw 5vh 5vw;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	overflow: auto;
}

h1 {
	font-size: 2.0em;
	width: 100%;
	text-align: center;
	margin-bottom: 3vh;
}

/*===================================================================*
 * START MENU
 *===================================================================*/

.start-menu .menu-row {
	text-align: center;
}

.start-menu input[type=radio] {
	width: 2em;
	height: 1em;
	line-height: 2em;
	vertical-align: middle;
	text-align: right;
}

.start-menu label {
	display: inline-block;
	width: 45vmin;
	text-align: left;
	vertical-align: middle;
	line-height: 2em;
}

.start-menu .button-row {
	text-align: center;
	margin-top: 5vh;
}

.start-menu .button-row .button {
	margin: 0px 1vw 0px 0px;
}

.start-menu .button-row .button:last-child {
	margin: 0px;
}

/*===================================================================*
 * TRAINING CARD
 *===================================================================*/

.training-card {
	text-align: center;
}

.training-card .word {
	font-size: 2em;
	font-weight: bold;
}

.training-card input {
	font-size: 1.5em;
	height: 3em;
	text-align: center;
	display: block;
	width: 70vw;
	margin: 2vh auto 2vh auto;
	border: 1px solid #202020;
}

/* PROGRESS BAR */

/* Progress bar - main box */
.training-card .progress {
	box-sizing: content-box;
	width: 50vmin;                     /* BAR WIDTH  */
	line-height: 5vmin;                /* BAR HEIGHT */
	height: 5vmin;                     /* BAR HEIGHT */
	border: 1px solid #C0C0C0;
	margin: 10vmin auto 5vmin auto;
	background: #202020;
	font-size: 2vmin;
}

/* Progress bar - background text */
.training-card .progress > .progress-text {
	color: #C0C0C0;
}

/* Progress bar - foreground text */
.training-card .progress .progress-bar .progress-text {
	width: 50vmin;                     /* BAR WIDTH */
	color: black;
}

.training-card .progress .progress-bar {
	width: 50%;                        /* PROGRESS   */
	height: 5vmin;                     /* BAR HEIGHT */
	margin-top: -5vmin;                /* BAR HEIGHT */
	position: relative;
	overflow: hidden;
}

.training-card .progress .progress-bar .bar {
	background-color: #C0C0C0;
	height:      4.0vmin;              /* BAR HEIGHT - PADDING x2 */
	margin-top: -4.5vmin;              /* BAR HEIGHT - PADDING x1 */
	margin-left: 0.5vmin;              /* PADDING x1 */
	max-width:   49vmin;               /* BAR WIDTH - PADDING x2  */
}

.training-card a.restart, .summary a.restart {
	color: #909090;
	text-decoration: none;
	display: block;
	text-align: center;
	position: fixed;
	left: 35vw;
	bottom: 2vh;
	width: 30vw;
	padding: 0;
	margin: 0;
}

.training-card a.restart:hover, .summary a.restart:hover {
	color: #C0C0C0;
	text-decoration: underline;
}

/*===================================================================*
 * WRONG ANSWER
 *===================================================================*/

.wrong-answer {
	position:   fixed;
	box-sizing: border-box;

	top:        3vw;
	left:       3vw;
	width:     94vw;
	height:    21vh;
	padding:    3vh 0 0 0;

	line-height: 5.0vh;
	font-size:   3.5vh;

	color: #505050;
	border: 1px solid #202020;
	background-color: rgb(255, 251, 214);
}

.wrong-answer b {
	display:      inline-block;
	width:        30vw;
	text-align:   right;
	margin-right: 2vw;
	font-variant: small-caps;
}

.diff-del {
	color: #D05050;
}

.diff-ins {
	color: #00C060;
}

.diff-rep {
	border-bottom: 1px dashed #D05050;
}

/*===================================================================*
 * SUMMARY
 *===================================================================*/

.summary {
	position:  fixed;
	top:      10vmin;
	left:     10vmin;
	right:    10vmin;
	bottom:   10vmin;
	padding: 2.5vmin;
	border: 1px solid #C0C0C0;
}

.summary > div {
	padding:          2.5vmin;
	overflow:         auto;
	max-height:       100%;
}

.summary h1 {
	text-align: left;
}

.summary p:not(:first-child) {
	margin-top: 2.5vmin;
}

.summary span.tab {
	padding-left: 15vw;
}

.summary b.num {
	display:      inline-block;
	text-align:   right;
	min-width:    5vmin;
	margin-right: 1vmin;
}

.summary hr {
	display: block;
	width: 100%;
	margin-top: 2.5vmin;
	border: 0;
	background-color: #505050;
	height: 1px;
}

.summary em {
	font-size: 0.7em;
	padding-left: 1vmin;
}

.summary span.table {
	display: inline-block;
	font-size: 0.7em;
	margin-left: 2vmin;
}

.summary label.table {
	display: block;
	font-size: 0.8em;
	font-weight: bold;
}


/*===================================================================*
 * GENERAL
 *===================================================================*/

body {
	-moz-user-select: none;
	-ms-user-select: none;
	-khtml-user-select: none;
 	-webkit-user-select: none;
 	-webkit-touch-callout: none;
}

.japanese {
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Osaka", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.mono {
	font-family: "Lucida Console", "Monaco", monospace;
}

.emoji {
	font-family:
		"Noto Color Emoji", "Apple Color Emoji", "Segoe UI Emoji",
		"Times", "Symbola", "Aegyptus", "Code2000", "Code2001",
		"Code2002", "Musica", "serif", "LastResort";
}

::-ms-clear {
	display: none;
}

/*===================================================================*
 * BUTTON
 *===================================================================*/

.button {
	font-size:1em;
	font-weight:bold;
	width: 10vmin;
	height: 10vmin;
	line-height: 10vmin;

	text-align: center;
	vertical-align: middle;

	display:inline-block;
	color:#909090;
	text-decoration:none;

	border: 1px solid #909090;
}

.button:hover {
	background-color: #C0C0C0;
	border-color: #C0C0C0;
	color: #303030;
	box-shadow: inset 1px 1px #303030, inset -1px -1px #303030;
}

.button:active {
	position:relative;
	top:1px;
}

